<!doctype html>
<html>
<head>
    <title>Endpoint Stats</title>
    <link
            href="css/angular-bootstrap.css"
            rel="stylesheet">
    <link
            href="css/json-formatter.min.css"
            rel="stylesheet">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
        body{
            background-size : 70%;
            width : 100%;
            height: 80%;
            padding-right: 70%;
        }
    </style>
</head>

<body ng-app="clientapp" ng-cloak class="ng-cloak" ng-controller="home as home">
<div class="container content-holder" >
    <div class="alert alert-success" ng-show="home.showSuccessMsg">{{home.successMsg}}</div>
    <div class="alert alert-danger" ng-show="home.showErrorMsg">{{home.errorMsg}}</div>
    <div uib-alert template-url="alert.html" style="background-color:#fa39c3;color:white;width: 87%">
        This is a small GUI to help out with the testing. There are two number fields. First one
        will determine how many miliseconds are between request attempts, and the second will determine what percentage
        will actually be sent so that we can supply a randomized stream of requests.
        When you press start, application starts to sends requests. It replicates the server's calculations on client
        side as well. When you hit stop, requests stop so that you can compare server and client results.
    </div>
    <form ng-submit="home.startStop()" name="messageForm">
        <div class="form-group">
            <label>Enter the interval between request attempts: </label>
            <input type="number" ng-model="home.intervalms"> ms
        </div>
        <div class="form-group">
            <label>Enter the percentage of requests you want to succeed: </label>
            <input type="number" ng-model="home.percentreq">%
        </div>
        <button class="btn btn-info" ng-hide="home.running" type="submit">Start</button>
        <button class="btn btn-danger" ng-show="home.running" type="submit">Stop</button>
    </form>
    <hr />
    <div ng-hide="home.running">
        <div class="form-group">
            <label>What back end summed up: </label>
            <json-formatter open="1" json="home.serverResp" ></json-formatter>
        </div>
        <div class="form-group">
            <label>Requests sent in the last minute: </label>
            <json-formatter open="0" json="home.messages" ></json-formatter>
        </div>
    </div>
</div>
<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="js/index-page.js" type="text/javascript"></script>
<script src="js/json-formatter.min.js" type="text/javascript"></script>
</body>
</html>